/* INICIO CSS GERAL */
body,
html {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: rgb(239, 239, 239);
}
.corpo_geral {
    width: 100%;
    height: 100%;
}
/* FIM CSS GERAL  */



/* INICIO CSS CABECALHO */
.corpo_cabecalho {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 6.5vw;
    background-color: rgb(0, 24, 57, 0.9);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: solid 4px tomato;
}
.caixa_cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    color: white;
}
.logo_cabecalho {
    width: 150px;
}
.logo_cabecalho {
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
    width: 25%;
}
.img_tradamus {
    width: 4.5vw;
    float: left;
    margin-right: 0.7vw;
}
.logo_cabecalho span {
    text-decoration: none;
    font-size: 2.5vw;
    color: tomato;
}
.ajuste_logo {
    padding: 0.5vw;
}
.caixa_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}
.cabecalho_menu {
    font-weight: 900;
    margin-left: 2vw;
}
ul {
    list-style: none;
    display: flex;
    font-size: 1.5vw;
}
ul li a {
    color: white;
    margin-left: 2.5vw;
    text-decoration: none;
}
ul li a:hover {
    color: rgba(255, 99, 71, 0.90);
    transition: 0.3s;
}
.button_cabecalho {
    height: 2.5vw;
    width: 10vw;
    background-color: rgba(255, 99, 71);
    margin-right: 1vw;
    font-size: 1.5vw;
    border-radius: 20px;
    cursor: pointer;
}
.button_cabecalho a {
    text-decoration: none;
    color: white;
}
.button_cabecalho:hover {
    background-color: rgba(255, 99, 71, 0.70);
    border-radius: 20px;
    transition: 0.3s;
}
.pagina_atual {
    color: tomato;
}
/* FIM CSS CABECALHO */






/* INICIO CSS RODAPÉ */

/* FIM CSS RODAPÉ */
.corpo_rodape {
    position: relative;
    text-align: center;
    width: 100%;
    height: 150px;
    background-color: rgb(0, 24, 57, 0.9);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.ajuste_rodape {
    margin-top: 1vw;
    color: white;
}
.img_rodape {
    width: 3.5vw;
    margin-top: 2vw;
}