



/* INICIO CSS CONTEUDO */
.caixa_conteudo_1 {
    width: 100%;
    height: 500px;
    padding-top: 200px;
    position: relative;
}
.conteudo_1_1 {
    width: 45%;
    height: 100%;
    float: left;
    left: 5%;
    position: relative;
}
.titulo_1 {
    font-size: 2.5vw;
    padding: 2vw 0;
}
.paragrafo_1_1 {
    font-size: 1.5vw;
    padding: 2vw 0;
}
.paragrafo_1_2 {
    font-size: 1.5vw;
    padding: 2vw 0;
    font-weight: 900;
}
.conteudo_1_2 {
    position: relative;
    width: 40%;
    height: 100%;
    float: right;
    right: 5%;
}
.imagem_conteudo_1 {
    border-radius: 20px;
    width: 100%;
    height: 80%;
}


.caixa_conteudo_2 {
    width: 100%;
    height: 500px;
    padding-top: 100px;
    position: relative;
    background: rgb(205 205 205 / 50%);
}
.conteudo_2_1 {
    width: 45%;
    height: 100%;
    float: right;
    right: 5%;
    position: relative;
}
.titulo_2 {
    font-size: 2.5vw;
    padding: 2vw 0;
}
.paragrafo_2_1 {
    font-size: 1.5vw;
    padding: 2vw 0;
}
.paragrafo_2_2 {
    font-size: 1.5vw;
    padding: 2vw 0;
    font-weight: 900;
}
.conteudo_2_2 {
    width: 40%;
    height: 100%;
    float: left;
    left: 5%;
    position: relative;
}
.imagem_conteudo_2 {
    border-radius: 20px;
    width: 100%;
    height: 80%;
}
/* FIM CSS CONTEUDO */


