
.corpo_conteudo {
    width: 50%;
    margin: auto;
    padding: 6vw 0;
}
.titulo {
    text-align: center;
    padding: 6vw 0vw 4vw;
    font-size: 2.5vw;
    margin: 0;
    color: rgb(0, 24, 57, 0.9);
}
.img_titulo {
    position: relative;
    margin: auto;
    width: 70%;
}
.img_cabecalho {
    position: relative;
    margin: auto;
    width: 100%; 
    border-radius: 50px;
}
.referencia {
    font-size: 1.25vw;
}
.img {
    width: 100%;
}
.negrito {
    font-weight: 600;
}
h2 {
    color: rgb(0, 24, 57, 0.9);
    font-size: 2vw;
    margin: 4vw 0vw 2vw;
}
h3 {
    color: rgb(0, 24, 57, 0.9);
    font-size: 1.5vw;
    margin: 3vw 0vw 2vw;
}
p {
    font-size: 1.3vw;
}



