/* INICIO CSS CONTEUDO 1 */


.conteudo_1_1 {
    margin: 6vw auto;
    width: 80%;
}
.titulo_1 {
    font-size: 3.5vw;
    padding: 2vw 0;
    color: rgb(0, 24, 57, 0.9);
    font-weight: 900;
}
.paragrafo_1_1 {
    font-size: 1.5vw;
    padding: 1.5vw 0;
}
/* FIM CSS CONTEUDO 1 */


/* INICIO CSS CONTEUDO 2 */
.caixa_conteudo_2 {
    width: 100%;
    height: 32vw;
    padding: 2vw 0;
    position: relative;
    background: rgb(205 205 205 / 50%);
}
.conteudo_2_1 {
    width: 45%;
    height: 100%;
    float: left;
    left: 5%;
    position: relative;
}
.titulo_2 {
    font-size: 2.5vw;
    padding: 2vw 0;
    color: rgb(0, 24, 57, 0.9);
    font-weight: 900;
}
.paragrafo_2_1 {
    font-size: 1.5vw;
    padding: 1.5vw 0;
}
.paragrafo_2_2 {
    font-size: 1.5vw;
    padding: 1.5vw 0;
    font-weight: 900;
}
.conteudo_2_2 {
    position: relative;
    width: 40%;
    height: 100%;
    float: right;
    right: 5%;
}
.imagem_conteudo_2 {
    border-radius: 20px;
    width: 38vw;
    height: 25vw;
    box-shadow: 0 0 4px 4px rgb(0 0 0 / 35%);
}
/* FIM CSS CONTEUDO 2 */


/* INICIO CSS CONTEUDO 3 */
.caixa_conteudo_3 {
    width: 100%;
    height: 32vw;
    position: relative;
    background: rgb(205 205 205 / 50%);
}
.conteudo_3_1 {
    width: 45%;
    height: 100%;
    float: right;
    right: 5%;
    position: relative;
}
.titulo_3 {
    font-size: 2.5vw;
    padding: 2vw 0;
    color: rgb(0, 24, 57, 0.9);
    font-weight: 900;
}
.paragrafo_3_1 {
    font-size: 1.5vw;
    padding: 1.5vw 0;
}
.paragrafo_3_2 {
    font-size: 1.5vw;
    padding: 1.5vw 0;
    font-weight: 900;
}
.conteudo_3_2 {
    width: 40%;
    height: 100%;
    float: left;
    left: 5%;
    position: relative;
}
.imagem_conteudo_3 {
    border-radius: 20px;
    width: 38vw;
    height: 25vw;
    box-shadow: 0 0 4px 4px rgb(0 0 0 / 35%);
}
/* FIM CSS CONTEUDO 3 */


/* INICIO CSS CONTEUDO 4 */
.caixa_conteudo_4 {
    width: 80%;
    height: 32vw;
    position: relative;
    padding: 6vw 0;
    margin: auto;
}
.conteudo_4_1 {
    width: 45%;
    height: 100%;
    float: left;
    left: 5%;
    position: relative;
}
.paragrafo_4_1 {
    font-size: 1.5vw;
    padding: 1.5vw 0;
}
.paragrafo_4_2 {
    font-size: 1.5vw;
    padding: 1.5vw 0;
    font-weight: 900;
}
.conteudo_4_2 {
    position: relative;
    width: 35%;
    height: 100%;
    float: right;
    right: 5%;
}
.imagem_conteudo_4 {
    position: relative;
    top: 3vw;
    height: 19vw;
    width: 19vw;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px rgb(0 0 0 / 35%);
}
/* FIM CSS CONTEUDO 4 */